.car-card {
  background: #111;
  border-radius: 14px;
  padding: 16px;
  text-align: center;
  transition: 0.3s;
}

.car-card:hover {
  transform: scale(1.03);
}

.car-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.car-card h3 {
  font-size: 18px;
  margin-top: 4px;
}

.car-card p {
  opacity: 0.7;
  font-size: 14px;
}
