.car-details {
  padding: 60px;
  text-align: center;
}

.car-details-img {
  width: 80%;
  max-width: 900px;
  border-radius: 14px;
  margin-bottom: 30px;
}

.desc {
  opacity: 0.8;
  margin-top: 12px;
  font-size: 18px;
}

.info {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
