.car-details {
  padding: 80px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.car-details-img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 0 30px #000;
  margin-bottom: 30px;
}
